@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.left-main {
  height: auto;
  width: 20vw;
  border-radius: 30px;
  background-color: #2186a0;
  position: fixed;
  margin-top: 3%;
  color: white;
  padding: 30px;
}

.left-main h2,
h1,
span {
  margin: 1rem;
  font-size: larger;
}

.left-image {
  height: 150px;
  border-radius: 50%;
  width: 60%;
}

.right-main {
  height: 1500px;
  width: 70%;
  position: relative;
  right: -25vw;
  background-color: #2186a0;
  margin: 5% 0;
  border-radius: 30px;
  color: white;
  padding: 30px;
}

.link {
  margin: 20px;
}

.link:hover {
  color: bisque;
}

* {
  box-sizing: border-box;
}
